[Desktop Entry]
Type=Application
Version=1.0
Name=Djangogirls Tutorial Resources
Comment=Files you need to complete the tutorial without internet access
Exec=pcmanfm /usr/share/djangogirls
Icon=folder-remote
Terminal=false
